<app-updatetask-navbar></app-updatetask-navbar>

<div class="container-fluid"> 
    <div class="row">
        <div class="col-lg-2">
            <app-updatetask-sidebar></app-updatetask-sidebar>
        </div>
        <div class="col-lg-10">
            <app-updatetask-header></app-updatetask-header>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <mat-card style="background-color: whitesmoke" fxFlex="100">
                <ul class="list-group">
                    
                </ul>
            </mat-card>
        </div>
        <div class="col-lg-10">
            <app-updatetask-maincontent></app-updatetask-maincontent>
        </div>
    </div>
</div>
<!--app-updatetask-footer></app-updatetask-footer-->
