<router-outlet></router-outlet>
<app-login-navbar></app-login-navbar>
<!--div>
    <mat-toolbar color="primary"><span style="font-size:10mm">GL Sprint Planner</span></mat-toolbar>
</div-->
<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card style="background-color: whitesmoke" fxFlex="25">
        <mat-toolbar style="background-color:lightslategray">
            <mat-toolbar-row>
                <div fxLayoutAlign="center center" fxFlexFill class="main-div">
                    <mat-icon class="lock-icon" style="font-size:33px">lock</mat-icon>
                </div>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <span style="font-size:8mm" class="login-toolbar" style="color:white;font-size:25px;">Welcome</span>
            </mat-toolbar-row>    
        </mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
            <mat-form-field>
                <mat-label>UserName</mat-label>
                <input matInput placeholder="UserName">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type= "password" placeholder="Password">
            </mat-form-field>
            <button mat-raised-button type="submit" style="background-color: lightgreen; margin:5px" class="login-nav" [routerLink]="['/User']">Login</button>
            <button mat-raised-button type="submit" style="background-color: lightsteelblue; margin:5px">New to this application? Register</button>
        </form>
    </mat-card>
</div>