<app-task-navbar></app-task-navbar>

<div class="container-fluid"> 
    <div class="row">
        <div class="col-lg-2">
            <app-task-sidebar></app-task-sidebar>
        </div>
        <div class="col-lg-10">
            <app-task-header></app-task-header>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <mat-card style="background-color: whitesmoke" fxFlex="100">
                <ul class="list-group">
                    
                </ul>
            </mat-card>
        </div>
        <div class="col-lg-10">
            <app-task-maincontent></app-task-maincontent>
        </div>
    </div>
</div>
<!--app-task-footer></app-task-footer-->