<app-createproject-navbar></app-createproject-navbar>

<div class="container-fluid"> 
    <div class="row">
        <div class="col-lg-2">
            <app-createproject-sidebar></app-createproject-sidebar>
        </div>
        <div class="col-lg-10">
            <app-createproject-header></app-createproject-header>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <mat-card style="background-color: whitesmoke" fxFlex="100">
                <ul class="list-group">
                    
                </ul>
            </mat-card>
        </div>
        <div class="col-lg-10">
            <app-createproject-maincontent></app-createproject-maincontent>
        </div>
    </div>
</div>
<!--app-createproject-footer></app-createproject-footer-->
