<app-createtask-navbar></app-createtask-navbar>

<div class="container-fluid"> 
    <div class="row">
        <div class="col-lg-2">
            <app-createtask-sidebar></app-createtask-sidebar>
        </div>
        <div class="col-lg-10">
            <app-createtask-header></app-createtask-header>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <mat-card style="background-color: lightslategray" fxFlex="100">
                <ul class="list-group">
                    
                </ul>
            </mat-card>
        </div>
        <div class="col-lg-10">
            <app-createtask-maincontent></app-createtask-maincontent>
        </div>
    </div>
</div>
<!--app-createtask-footer></app-createtask-footer-->
