<app-createuser-navbar></app-createuser-navbar>

<div class="container-fluid"> 
    <div class="row">
        <div class="col-lg-2">
            <app-createuser-sidebar></app-createuser-sidebar>
        </div>
        <div class="col-lg-10">
            <app-createuser-header></app-createuser-header>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <mat-card style="background-color: whitesmoke" fxFlex="100">
                <ul class="list-group">
                    
                </ul>
            </mat-card>
        </div>
        <div class="col-lg-10">
            <app-createuser-maincontent></app-createuser-maincontent>
        </div>
    </div>
</div>
<!--app-createuser-footer></app-createuser-footer-->
