<div fxLayoutAlign="start top" fxFlexFill class="main-div">
  <mat-card style="background-color: whitesmoke" fxFlex="100">
      <form id="newTaskForm" [formGroup]="form" (ngSubmit)="onSubmit()">

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="name">Name</label>
              <input type="text" formControlName="name" class="form-control" id="name" [(ngModel)]="project.name" 
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }">

                <div *ngIf="submitted && f.name.errors" class="invalid-feedback" style="background-color:black;" >
                    <div *ngIf="f.name.errors.required">Name is required</div>
                </div>   
            </div>
            
            <div class="form-group col-md-6">
              <label for="Detail">Detail</label> 
              <input type="text"  formControlName="detail" class="form-control" id="detail"  [(ngModel)]="project.detail"
                  [ngClass]="{ 'is-invalid': submitted && f.detail.errors }"/>
                  <div *ngIf="submitted && f.detail.errors" class="invalid-feedback" style="background-color:black;" >
                      <div *ngIf="f.detail.errors.required">Detail is required</div>
                  </div>
            </div>
          </div>
          
          <div class="form-group">
            <div class="form-check">
              
            </div>
          </div>


          <div class="form-row">
            <div class="form-group col-md-0">
              <button mat-stroked-button class="login-nav" style="background-color:white; margin:5px" type="submit" form="newTaskForm" >
                <mat-icon class="account-icon" [inline]="false">save</mat-icon>
                <span>Submit</span>
                <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1">
                </span>Save</button> -->
              </button>
            </div>

            <div class="form-group col-md-1">
              <button mat-stroked-button class="login-nav" style="background-color:white; margin:5px" type="button" [routerLink]="['/Task']">
                <mat-icon class="account-icon" [inline]="false">cancel</mat-icon>
                  <span>Cancel</span>
                </button>
            </div>
          </div>
        </form>
      
  </mat-card>
</div>