<app-project-navbar></app-project-navbar>

<div class="container-fluid"> 
    <div class="row">
        <div class="col-lg-2">
            <app-project-sidebar></app-project-sidebar>
        </div>
        <div class="col-lg-10">
            <app-project-header></app-project-header>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <mat-card style="background-color: lightslategray" fxFlex="100">
                <ul class="list-group">
                    
                </ul>
            </mat-card>
        </div>
        <div class="col-lg-10">
            <app-project-maincontent></app-project-maincontent>
        </div>
    </div>
</div>
<!--app-project-footer></app-project-footer-->