<app-updateuser-navbar></app-updateuser-navbar>

<div class="container-fluid"> 
    <div class="row">
        <div class="col-lg-2">
            <app-updateuser-sidebar></app-updateuser-sidebar>
        </div>
        <div class="col-lg-10">
            <app-updateuser-header></app-updateuser-header>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <mat-card style="background-color: whitesmoke" fxFlex="100">
                <ul class="list-group">
                    
                </ul>
            </mat-card>
        </div>
        <div class="col-lg-10">
            <app-updateuser-maincontent></app-updateuser-maincontent>
        </div>
    </div>
</div>
<!--app-updateuser-footer></app-updateuser-footer-->
