<div fxLayoutAlign="start top" fxFlexFill class="main-div">
  <mat-card style="background-color: whitesmoke" fxFlex="100">
      <form novalidate #form="ngForm" (submit)="onSubmit(form)">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="ProjectId">Project Id</label>
              <input class="form-control" placeholder="ProjectId" name="projectId" #projectId="ngModel" [(ngModel)]="service.formData.projectId" required minlength="1" 
              [class.invalid]="projectId.invalid && projectId.touched">
            </div>
            <div class="form-group col-md-6">
              <label for="Status">Status</label>
              <input class="form-control" placeholder="Status" name="status" #status="ngModel" [(ngModel)]="service.formData.status" required minlength="1"
              [class.invalid]="status.invalid && status.touched">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="AssignedToUserId">Assigned To UserId</label>
              <input class="form-control" placeholder="AssignedToUserId" name="assignedToUserId" #assignedToUserId="ngModel" [(ngModel)]="service.formData.assignedToUserId" required minlength="1"
              [class.invalid]="assignedToUserId.invalid && assignedToUserId.touched">
            </div>
              <div class="form-group col-md-6">
                <label for="Detail">Detail</label>
                <input class="form-control" placeholder="Detail" name="detail" #detail="ngModel" [(ngModel)]="service.formData.detail" required minlength="1"
                [class.invalid]="detail.invalid && detail.touched">
              </div>
            </div>
          <div class="form-group">
            <div class="form-check">
              
            </div>
          </div>
          <div class="form-row">
              <div class="form-group col-md-0">
                  <button mat-stroked-button type="submit" [disabled]="form.invalid"style="background-color:white; margin:5px"  class="login-nav">
                  <!--[routerLink]="['/Task']"-->
                      <mat-icon class="account-icon" [inline]="false">save</mat-icon>
                      <span>Submit</span>
                  </button>
              </div>
              <div class="form-group col-md-1">
                  <button mat-stroked-button type="submit" style="background-color: white; margin:5px" class="login-nav" [routerLink]="['/Task']">
                      <mat-icon class="account-icon" [inline]="false">cancel</mat-icon>
                      <span>Cancel</span>
                  </button>
              </div>
            </div>
        </form>
  </mat-card>
</div>