<app-updateproject-navbar></app-updateproject-navbar>

<div class="container-fluid"> 
    <div class="row">
        <div class="col-lg-2">
            <app-updateproject-sidebar></app-updateproject-sidebar>
        </div>
        <div class="col-lg-10">
            <app-updateproject-header></app-updateproject-header>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <mat-card style="background-color: lightslategray" fxFlex="100">
                <ul class="list-group">
                    
                </ul>
            </mat-card>
        </div>
        <div class="col-lg-10">
            <app-updateproject-maincontent></app-updateproject-maincontent>
        </div>
    </div>
</div>
<!--app-updateproject-footer></app-updateproject-footer-->
